    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        
    }
    body {
        background-color: black;
    }

    h1   {
        color: gold;
        margin-left: 45vw;
    }


   

    .logo {
        color: firebrick;
        margin-left: 43vw;
        font-weight: bold;
        font-size: 1rem;
        margin-top: 5vh;
    }

    #sidebar {
        margin-top: 10vh;
        width: 800px;
        height: 100px;
        display: flex;
        border-radius: 50%;
        background-color: rgb(8, 216, 8);
       justify-content: center;
       margin-left: 25vw;
       box-shadow: 0 0 0 5px #24ecff33,
       0 0 0 10px #24ecff22,
       0 0 0 15px #24ecff11,
       0 0 20px #24ecff,
       0 0 50px #24ecff
       }
 

    ul  {
        display: flex;
        margin-left: 100px;
        list-style-type: none;
        margin-right: 9vw;
        
    }
  li a {
      display: flex;

  }
  a {
      margin-left: 90px;
      text-decoration: none;
      padding: 40px;
      color: #0e0101 ;

      

     
  }
  a:hover {
      color: transparent;
      transition: 0.5s;
      
  }

  footer {
      display: flex;
      justify-content: center;
      margin-top: 25vh;
  }
  figure{
      background-color: white;
      box-shadow: 0 0 0 5px #24ecff33,
      0 0 0 10px #24ecff22,
      0 0 0 15px #24ecff11,
      0 0 20px #24ecff,
      0 0 50px #24ecff;
      width: 100px;
      height: 135px;
      padding: 30px;
      margin-right: 50px;
      text-transform: capitalize;
      font-weight: bold;
   
  }

h3 {
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 50px;

 
 
  }



 